  <%= search_form_for @q, url:search_path do |f| %>
    <fieldset class="form-group">
      <div class="row">
        <label class="search-title"><%= icon("far", "futbol", class: "soccer-icon") %>
          カテゴリー
        </label>
        <div class="col-sm-12">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="category" id="gridRadios1" value="1">
            <label class="form-check-label" for="gridRadios1">
              戦術
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="category" id="gridRadios2" value="2">
            <label class="form-check-label" for="gridRadios2">
              技術
            </label>
          </div>
          <div class="form-check disabled">
            <input class="form-check-input" type="radio" name="category" id="gridRadios3" value="3">
            <label class="form-check-label" for="gridRadios3">
              知識
            </label>
          </div>
          <div class="form-check disabled">
            <input class="form-check-input" type="radio" name="category" id="gridRadios4" value="4">
            <label class="form-check-label" for="gridRadios4">
              メンタル
            </label>
          </div>
          <div class="form-check disabled">
            <input class="form-check-input" type="radio" name="category" id="gridRadios5" value="5">
            <label class="form-check-label" for="gridRadios5">
              練習メニュー
            </label>
          </div>
          <div class="form-check disabled">
            <input class="form-check-input" type="radio" name="category" id="gridRadios5" value="6">
            <label class="form-check-label" for="gridRadios5">
              その他
            </label>
          </div>
        </div>
      </div>
    </fieldset>
    <div class="search-radio-btn">
    <%= button_tag :type => "submit", :class =>"btn btn-secondary" do %>
    カテゴリー別:検索<i class="fa fa-search"></i>
    </div>
    <% end %>
  <% end %>
