<% provide(:title, "About") %>
<div class="about">
<h1 class="about-title">About</h1>
  <p class="about-copy">
    SOCCER APPはサッカーが上手くなりたい人の為のコミュニティサイトです。<br>
    世界中の技術、戦術、知識を共有して、共に上を目指しましょう。</p>
</div>
