<% provide(:title, 'Sign up') %>
<div class="container">
  <div class="row sign-up-title">
    <h1>SOCCER APPへようこそ！</h1>
    <h2>新規ユーザー登録</h2>
  </div>

  <div class="row">
    <div class="col-md-6 col-md-offset-3 sign-up-content">
      <%= render 'form' %>
    </div>
  </div>
</div>
