<div class="info-image">
  <% if current_user.image? %>
      <%= image_tag current_user.image.thumb50.url, class: "feed-circle" %>
  <% else %>
      <%= image_tag "default.jpg", class: "feed-circle" %>
  <% end %>
</div>
<div class="info-content">
  <%= current_user.name %><br>
  <span>投稿数 : <%= current_user.posts.count %></span>
</div>
