<div class="info-image">
  <%= image_tag current_user.image.thumb50.url, class: "info-circle"%>
</div>
<div class="info-content">
  <%= current_user.name %><br>
  <span>投稿数 : <%= current_user.posts.count %></span>
</div>
