<div class="post-show-like">
  <% if Like.find_by(user_id: current_user.id, post_id: @post.id) %>
    <%= link_to("/likes/#{@post.id}/destroy", {method: "post"}) do %>
      <span class="fas fa-futbol like-btn-unlike"></span>
    <% end %>
  <% else %>
    <%= link_to("/likes/#{@post.id}/create", {method: "post"}) do %>
      <span class="fas fa-futbol like-btn"></span>
    <% end %>
  <% end %>
  <span class="like-count">
    <%= @likes_count %>
  </span>
<div>
