<div class="container">
  <div class="header-title">
  <h2>
    <%= icon("far", "futbol", class: "soccer-icon") %>
    SOCCER APPに投稿する
    <%= icon("far", "futbol", class: "soccer-icon") %>
  </h2>
  </div>
    <%= render 'shared/post_form' %>
</div>
