@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

/* ブレイクポイントを定義 */
@mixin sm { @media (min-width: 576px) { @content; } }
@mixin md { @media (min-width: 768px) { @content; } }
@mixin lg { @media (min-width: 992px) { @content; } }

.s {
  display: inline;
}

/* 共通設定 */
.main-title {
  text-align: center;
  font-size: 1.5rem;
  padding: 1rem 0;
  @include md {
    font-size: 2.0rem;
  }
}

iframe {
  width: 400px;
  height: 250px;
  @include lg {
    width: 500px;
    height: 300px;
  }
}

.youtube-frame {
  margin: 0.7rem 0;
}

.nav-link {
  color: black;
}

.post-link {
  color: #808080;
}

/* 本文画面設定 */
.main-content {
  background-color: #F5F5F5;
}

/* ホーム画面(未登録) */

.center {
  background-image:url(image-path('top.png'));
  background-size: cover;
  background-position: center;
  min-height: calc(100vh - 100px);
  width: 100%;
  padding-top: 0.5rem;
  position: relative;
}

.app-title {
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 2.5rem;
  background: rgba(0, 0, 0, .4);
  padding: 2rem;
  @include md {
    font-size: 4.5rem;
  }
}

.copy {
  color: #fff;
  text-align: center;
  background: rgba(0, 0, 0, .4);
  padding: 2rem 0;
  font-size: 1.0rem;
  margin-top: 7rem;
  @include md {
    font-size: 1.2em;
  }
}

.topbtn {
  position: absolute;
  bottom: 5rem;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
  text-align: center;
  .topbtn__item {
    color: #fff;
    background: rgba(0, 0, 0, .3);
    border: 1px solid #fff;
    padding: 0.8rem 0.5rem;
    font-size: 0.8rem;
    @include md {
      padding: 1rem 0.8rem;
      font-size: 1.1rem;
    }
  }
  .topbtn__item + .topbtn__item {
    margin-left: 1.5rem;
  }
}

/* about画面 */

.about {
  background-image:url(image-path('about.png'));
  background-size: cover;
  background-position: center;
  min-height: calc(100vh - 100px);
  width: 100%;
  position: relative;
}

.about-title {
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 2.5rem;
  padding: 2rem;
  @include md {
    font-size: 4.5rem;
  }
}

.about-copy {
  color: #fff;
  text-align: center;
  background: rgba(0, 0, 0, .5);
  padding: 2rem 0.2rem;
  font-size: 0.8rem;
  margin-top: 7rem;
  @include md {
    font-size: 1.2rem;
    padding: 2rem 0;
  }
}

/* 新規登録画面 */
.sign-up-content {
  background-color: white;
  padding: 1rem 1rem;
  margin-bottom: 1rem;
}

/* ログイン画面 */
.form-container {
  padding-bottom: 3rem;
}

.form-content {
  width: 30rem;
  background-color: white;
  padding: 30px 20px;
}

.form-control {
  margin-bottom: 30px;
}

.guest-btn {
  margin-top: 3rem;
}

/* mixins, variables, etc. */

$gray-medium-light: #808080;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */

body {
  padding-top: 0px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

/* ヘッダー */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.0em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
  @include md {
    font-size: 1.5em;
  }
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* フッター */

footer {
  padding-top: 10px;
  padding-bottom: 15px;
  color: white;
  text-align: center;
  background-color: #000;
}

.footer-item {
  font-size: 0.8em;
  line-height: 1.7em;
  @include md {
    font-size: 1.1em;
    line-height: 1.7em;
  }
}

/* ログイン画面、パスワード再設定メール送信画面、パスワード再設定画面 */
.mb-3 {
  width: 170px;
  margin-top: 30px;
  margin-bottom: 15px;
}

/* 投稿一覧の表示*/
.feed-image {
  float: left;
}

.main-feed {
  padding-top: 10px;
  background-color: white;
  width: 60%;
}
.title {
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 5px;
}
.sidebar {
  color: rgba(#808080,1.0);
  font-size: 12px;
}

/* 検索画面 */
.search-container {
  margin: 1rem 1rem;
}

.search-row{
  position: relative;
  box-sizing: border-box;
  border: 2px solid #3879D9;
  display: block;
  border-radius: 3px;
  height: 2em;
  width: 25em;
  overflow: hidden;
  &-input {
  border: none;
  height: 3.0em;
  }

  &-btn{
  cursor: pointer;
  border: none;
  background: #3879D9;
  color: #fff;
  position: absolute;
  width: 5em;
  height: 3.0em;
  right:0px;
  top: -10px;
  outline : none;
  }
}

/* ユーザーエリア */
.user-area {
  background-color: white;
  padding: 1rem 1rem;
  border-bottom: 1px solid #e8e8e8;
}

.stats {
  background-color: white;
  overflow: auto;
  margin-top: 0;
  margin-bottom: 2rem;
  a {
    float: left;
    padding: 1rem 1rem;
    border-left: 1px solid rgba(#e8e8e8,1.0);
    color: gray;
    @include sm {
      margin-left: 1.5rem;
    }
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
}

/* ホーム画面プロフィール画面 */
.info-image {
  float: left;
  margin-right: 10px;
}
.info-content {
  padding-left: 50px;
}

//
// aside {
//   section {
//     padding: 10px 0;
//     margin-top: 20px;
//     span {
//       display: block;
//       margin-bottom: 3px;
//     }
//     label {
//       margin-bottom: 3px;
//       font-weight: normal;
//     }
//     h1 {
//       font-size: 1.4em;
//       text-align: left;
//       letter-spacing: -1px;
//       margin-bottom: 3px;
//       margin-top: 0px;
//     }
//   }
// }

/* プロフィール */
.info-circle {
  text-align: left;
  border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
  width: 50px;  /* 縦横を同じ値にする */
  height: 50px;  /* 縦横を同じ値にする */
  object-fit: cover;
  border: 1px solid #e8e8e8;
}

.comment-circle {
  text-align: left;
  border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
  width: 50px;  /* 縦横を同じ値にする */
  height: 50px;  /* 縦横を同じ値にする */
  object-fit: cover; /* 縦横比固定したまま上2つの縦横の範囲内に収まるように配置する */
  border: 1px solid #e8e8e8;
}

.feed-circle {
  text-align: left;
  border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
  width: 50px;  /* 縦横を同じ値にする */
  height: 50px;  /* 縦横を同じ値にする */
  object-fit: cover; /* 縦横比固定したまま上2つの縦横の範囲内に収まるように配置する */
  border: 1px solid #e8e8e8;
}

.circle {
  border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
  width: 150px;  /* 縦横を同じ値にする */
  height: 150px;  /* 縦横を同じ値にする */
  object-fit: cover; /* 縦横比固定したまま上2つの縦横の範囲内に収まるように配置する */
  border: 1px solid #e8e8e8;
}

.user-circle {
  text-align: left;
  border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
  width: 100px;  /* 縦横を同じ値にする */
  height: 100px;  /* 縦横を同じ値にする */
  object-fit: cover; /* 縦横比固定したまま上2つの縦横の範囲内に収まるように配置する */
  border: 1px solid #e8e8e8;
}

.image-edit {
  margin-top: 15px;
  margin-bottom: 15px;
}

.img-btn {
  margin-top:20px;
  width: 200px;
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
  a {
    padding: 0;
  }
}

.users.follow {
  padding: 10px;
}

/* 対象年齢別検索、カテゴリー別検索 */
.search-title {
  padding-top: 1rem;
  padding-left: 2rem;
}

.search-age-type {
  background-color: white;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
}
.search-category {
  background-color: white;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
}

.search-btn {
  margin-top: 1rem;
  margin-left: 1rem;
}

/* 検索結果画面 */


/* ポストフォーム */
.post-title {
  margin-bottom: 2rem;
}

.post-btn {
  margin-top: 1.5rem;
  padding-bottom: 1rem;
}

.content-form {
  height: 15rem;
  margin-bottom: 2rem;
}

.post-youtube-url {
  margin-bottom: 1rem;
}

.age-type-label {
  padding-right: 1rem;
}

.category-label {
  padding-right: 1rem;
}

.age-type {
  padding-top: 0.5rem;
  padding-left: 1rem;
  background-color: white;
  border: 1px solid #bbb;
  display: block;
  @include sm {
    display: inline;
    margin-bottom: 1rem;
  }
}

.category {
  padding-top: 0.5rem;
  padding-left: 1rem;
  background-color: white;
  border: 1px solid #bbb;
  display: block;
  @include sm {
    display: inline;
  }
}


/* ユーザー一覧ページ */

.users-row {
  padding-bottom: 30px;
}

.users {
  background-color: white;
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid rgba(#EEEEEE,1.0);
  }
}

/* チェック一覧ページ */
.likes-image {
  float: left;
}

.likes-post {
  text-align: left;
}

.likes-post {
  margin-bottom: 30px;
}

.posts {
  background-color: white;
}

/* フォロー、フォロワー一覧画面 */
.stats-link {
  color: black;
}

.show-follow-title {
  text-align: center;
}

.show-follow-container {
  padding-top: 20px;
  padding-bottom: 100px;
}

/* プロフィール画面 */
.mypage-main {
  margin: 20px 0;
}

.mypage-info {
  background-color: white;
  padding: 10px 0;
}

.mypage-img {
  display: block;
  text-align: center;
}

.mypage-stats {
  display: block;
  padding: 1rem 1rem;
  line-height: 2rem;
  letter-spacing: 1px;
  display: block;
}

.mypage-content {
  padding-bottom: 2rem;
}

.mypage-feed {
  padding-top: 10px;
  background-color: white;
}

.mypage-follow {
  padding-top: 1rem;
  padding-left: 1rem;
}

/* 投稿詳細ページ */
.post-show-header {
  margin-top: 30px;
  background-color: white;
  padding-top: 20px;
  padding-bottom: 20px;
}

.post-show-title {
  text-align: left;
  font-size: 1.5rem;
  padding: 1rem 0;
  @include md {
    font-size: 2.0rem;
  }
}

.post-show-main {
  background-color: white;
}

.post-show-content {
  background-color: white;
  border-top: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;
  padding: 20px 10px;
}

.post-show-youtube {
  background-color: white;
  padding: 30px 0;
}

.post-show-like {
  background-color: white;
  text-align: left;
}

.post-img {
  width: 80px;
  height: 80px;
  border-radius: 40%;
  box-shadow: 0 2px 6px #c1ced7;
  margin: 20px 0 10px;
  object-fit: cover;
}

.sharering {
  padding-bottom: 1rem;
  border-bottom: 1px solid #bbb;
}

.line {
  display: inline-block;
}

.line-it-button {
  margin-top: 1rem;
}

/* コメント作成、一覧表 */
.comment-row {
  text-align: left;
  padding: 2rem 0;
}

.comment-title {
  margin-top: 30px;
  margin-bottom: 30px;
}

.comment-show {
  margin-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #bbb;
}

.comment-col {
  margin-top: 20px;
}

.comment-content {
  height: 100px;
}

.comment-btn {
  width: 150px;
}

/* プロフィール設定変更 */
.account-title {
  text-align: center;
}

.account-content {
  background-color: white;
  margin-bottom: 10px;
}

.gravatar_edit {
  margin-bottom: 100px;
}

/* フォーム */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

/* フォーム エラーメッセージ */
#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  // @extend .has-error;
  .form-control {
    // color: $state-danger-text;
  }
}

/* テストユーザー */
.alert {
    background-color: lightBlue;
  }

/* フォーム チェックボックス*/
.checkbox {
  background-color: white;
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* ポスト */

.posts {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .title {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .content {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: rgba(#808080,1.0);
    display: block;
    margin-left: 60px;
  }
  // .gravatar {
  //   float: left;
  //   margin-right: 10px;
  //   margin-top: 5px;
  // }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}

/* チェックボックスデザイン */
.checkbox-row {
  background-color: white;
  border: 1px solid #C0C0C0;
  padding: 1rem 1rem;
}

//
// [type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:after {
//   background-color: #ffdc00!important;
// }
// [type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:before, [type="radio"].with-gap:checked+span:after {
//   border: 2px solid #ffdc00!important;
// }

/* 投稿、いいね順デザイン */

.user-tabs {
  margin-top: 40px;
  background-color: white;
  overflow: hidden;
  box-shadow: 0 2px 6px #c1ced7;
}

.user-tabs li {
  float: left;
}

.user-tabs li.active {
  border-bottom: 2px solid #3ecdc6;
}

.like-btn {
  font-size: 30px;
  color: #8899a6;
}

.like-btn-unlike {
  font-size: 30px;
  color: #ff2581;
}

.like-count {
  font-size: 30px;
}

/* シェア */

.twitter{
  height: 30px;
  margin-right: 20px;
}
